<!doctype html>
<html lang="de" ng-app="App">
<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="extern/angular.min.js"></script>
    <script src="extern/angular-route.min.js"></script>
    <script src="extern/angular-mocks.js"></script>
    <script src="extern/ui-bootstrap-tpls.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/controllers.js"></script>
    <script src="scripts/filters/valuta.js"></script>
    <link rel="stylesheet" href="extern/bootstrap.min.css">
    <link rel="stylesheet" href="extern/bootstrap-theme.min.css">
    <link rel="stylesheet" href="styles/app.css">
</head>
<body>

<nav ng-controller="NavbarCtrl" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Financial App [Test]</a>
    </div>

    <div class="navbar-collapse" ng-class="isCollapsed ? 'collapse' : 'in'">
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="app in subApps" ng-class="getClass('{{app.path}}')"><a href="#{{app.path}}">{{app.title}}</a></li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
	<div class="container">
        <div ng-view></div>
        <h3>more about</h3>
        <p>
        	  {{'Angular JS works!'}}
        </p>
    </div>
</body>
</html>