<h3>&Uuml;bersicht von {{account.name}}</h3>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <!--Sidebar content-->
            Search function: <input ng-model="query">
            Sort by: <select ng-model="orderProp"> 
                <option value="value">Wert</option>
                <option value="date">Neustes</option>
                <option value="-date">Aeltestes</option>
            </select>
        </div>
        <div class="span6">
            
            <h4>Schluss Total</h4>
            <u>{{hMoneys.getSum()}}</u>
            <br>
            <table class="table" ng-repeat="month in byMonth(moneys) | filter:query">
                    <tr>
                        <th colspan="2"><i>{{month.name}}</i></th>
                        <th>Betreff</th>
                        <th>Einnahme</th>
                        <th>Ausgabe</th>
                    </tr>
                
                    <tr ng-repeat="entry in month.entrys  | orderBy: orderProp | filter:query ">
                        <td class="text-center"><a href="#/detail/{{entry.id}}" class="btn btn-info" ng-click="hello()">{{entry.id}}</a></td>
                        <td class="text-right">{{entry.date | date:'dd.MM.yyyy'}}<br>{{entry.date | date:'HH:mm:ss'}}</td>
                        <td>Bestand/&Auml;nderung</td>
                        <td class="text-right">{{((entry.value>=0)?entry.value:"") | valuta}}</td>
                        <td class="text-right">{{((entry.value>=0)?"":-entry.value) | valuta}}</td>
                    </tr>
                
                    <tr>
                        <th colspan="4">Total</th>
                        <td class="text-right"><u>{{month.getSum() | valuta}}</u></td>
                    </tr>
            </table>
        </div>
    </div>
</div>