<h3>&Uuml;bersicht von {{account.name}}</h3>
<div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <!--Sidebar content-->
                Search function: <input ng-model="query">
                Sort by: <select ng-model="orderProp"> 
                    <option value="value">Wert</option>
                    <option value="date">Neustes</option>
                    <option value="-date">Aeltestes</option>
                </select>
            </div>
            <div class="span6">
    <div ng-repeat="playerPerTeam in playersToFilter() | orderBy: 'date' | filter:filterTeams">
        <b>{{playerPerTeam.date}}</b>
        <li ng-repeat="player in moneys | filter:{date: playerPerTeam.date}">{{player.id}}</li>        
    </div>
  Test 2222222222222222222222222
    <div ng-repeat="month in moneyByMonth(moneys)">
        <b>{{month}}</b><br>
    </div>
  
                
                <!--Body content-->
                Filtered ({{query}}) and Ordered ({{orderProp}})                
                
                <table class="table" ng-repeat=" playerPerTeam in playersToFilter() | orderBy: 'date' | filter:filterTeams ">
                	<div>m: [{{playerPerTeam.date | date:'yyyy-MM-dd HH:mm:ss'}}] </div>
                    <tr ng-repeat=" money in moneys | filter:{date: playerPerTeam.date} ">
                        <td class="text-center">x <a href="#/detail/{{money.id}}" class="btn btn-info">{{money.id}}</a></td>
                        <td>[{{money.date | date:'yyyy-MM-dd HH:mm:ss'}}]</td>
                        <td>Bestand/&Auml;nderung</td>
                        <td class="text-right">{{money.value | valuta}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>